body {
  width: 33%;
}

.btn1 {
  background-color: lightblue;
  color: black;
}

.btn2 {
background-color: brown;
color: white;
}

.btn3 {
background-color: black;
color: red;
}

.calcBtn {
  width: 25%;
  height: 36px;
  font-size: 18px;
  margin: 0;
  float: left;
}

.result-box {

  background-color: white;
  border-style: solid;
  border-color: black;
  height: 48px;
  font-size: 20px;
}
